<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Thêm Nhân Viên</title>
    <link rel="stylesheet" th:href="@{/css/admin/addkhachhang.css}">
</head>
<body>
    <div class="form-container">
        <h1>Thêm Nhân Viên</h1>

        <form onsubmit="event.preventDefault(); addKhachHang()">
            <div class="form-group">
                <label for="hoten">Họ tên:</label>
                <input type="text" id="hoten" name="hoten" required>
            </div>
            <div class="form-group">
                <label for="diachi">Địa chỉ:</label>
                <input type="text" id="diachi" name="diachi" required>
            </div>
            <div class="form-group">
                <label for="sdt">SĐT:</label>
                <input type="text" id="sdt" name="sdt" required>
            </div>
            <div class="form-group">
                <label for="ngaysinh">Ngày Sinh:</label>
                <input type="date" id="ngaysinh" name="ngaysinh" required>
            </div>
            
            <div class="form-group">
                <label for="ngaydangky">Ngày đăng ký:</label>
                <input type="date" id="ngaydangky" name="ngaydangky" required>
            </div>
            <div class="form-group">
                <label for="doanhso">Doanh số:</label>
                <input type="text" id="doanhso" name="doanhso" required>
            </div>
            <button type="submit">Thêm Khách Hàng</button>
        </form>

        <div class="back-link-wrapper">
            <a th:href="@{/taikhoan/admin}" class="back-link">Quay về trang quản lý</a>
        </div>
    </div>
    <script th:src="@{/js/admin/addkhachhang.js}"></script>
</body>
</html>
