<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="vi">
<head>
    <meta charset="UTF-8">
    <title>Danh sách nhân viên</title>
    <link rel="stylesheet" th:href="@{/css/viewnhanvien/nhanvien.css}">
</head>
<body>
    <div class="container">
        <h1>Danh sách nhân viên</h1>

        <div class="employee-grid">
            <div class="employee-card" th:each="nv : ${nhanviens}">
                <img th:src="@{/images/nhanvien.jpg}" alt="Ảnh nhân viên" class="avatar">
                <h3 th:text="${nv.hten}">Tên nhân viên</h3>
                <a th:href="@{'/admin/nhanvien/chitiet/' + ${nv.maNV}}">
                    <button>Xem chi tiết</button>
                </a>
            </div>
        </div>
    </div>
</body>
</html>
