<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Danh sách nhân viên</title>
    <link rel="stylesheet" th:href="@{/css/admin/viewnhanvien.css}">
</head>
<body>
    <h1>Danh sách nhân viên</h1>
    <table border="1">
        <thead>
            <tr>
				<th>Avatar</th>
                <th>Mã NV</th>
                <th>Họ tên</th>
                <th>SĐT</th>
                <th>Ngày vào làm</th>
                
            </tr>
        </thead>
        <tbody>
            <tr th:each="nv : ${listNhanVien}">
				<td><img th:src="${nv.avatarUrl}" width="150" height="150" /></td>
                <td th:text="${nv.manv}"></td>
                <td th:text="${nv.hoten}"></td>
                <td th:text="${nv.sdt}"></td>
                <td th:text="${nv.ngayvaolam}"></td>
                
            </tr>
        </tbody>
    </table>
</body>
</html>
