<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Trang Khách hàng</title>
    <link rel="stylesheet" th:href="@{/css/khachhang/khachhang.css}">
</head>
<body>
    <div class="container">
        <h1>Xin chào, Khách hàng thân thiết!</h1>
        <ul class="menu">
            <li><a th:href="@{/khachhang/thongtin}">Thông tin tài khoản</a></li>
        </ul> 
        <div>
			<a th:href="@{/taikhoan/dangnhap}" class="btn1">Đăng xuất</a>
		</div>
    </div>
</body>
</html>
